<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile friendliness -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Stay up to date with the latest service updates from Cachet Demo.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Cachet Demo">
    <meta property="og:image" content="/img/favicon.png">
    <meta property="og:description" content="Stay up to date with the latest service updates from Cachet Demo.">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.gomonar.ch/shell/main/images/favicons/apple-touch-icon.png">
  	<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.gomonar.ch/shell/main/images/favicons/favicon-32x32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.gomonar.ch/shell/main/images/favicons/favicon-16x16.png">
  	<link rel="manifest" href="https://cdn.gomonar.ch/shell/main/images/favicons/manifest.json">
  	<link rel="mask-icon" href="https://cdn.gomonar.ch/shell/main/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  	<link rel="shortcut icon" href="https://cdn.gomonar.ch/shell/main/images/favicons/favicon.ico">
  	<meta name="msapplication-config" content="https://cdn.gomonar.ch/shell/main/images/favicons/browserconfig.xml">
  	<meta name="theme-color" content="#ffffff">

    <title><%= @title %></title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/app.css">

    <style type="text/css">
    body.status-page {
    background-color: #212327;
    color: #ffffff;
    }
p, strong { color: #ffffff !important; }
.reds { color: #ff6f6f !important; }
.blues { color: #3498db !important; }
.greens { color: #7ed321 !important; }
.yellows { color: #f7ca18 !important; }
.oranges { color: #ff8800 !important; }
.metrics { color: #0dccc0 !important; }
.links { color: #7ed321 !important; }

/**
 * Banner background
 */
.app-banner {
    background-color:  !important;
}

.app-banner-padding {
    padding: 40px 0 !important;
}

/**
 * Alert overrides.
 */
.alert {
    background-color: #f7ca18;
    border-color: #deb515;
    color: white;
}
.alert.alert-success {
    background-color: #7ed321;
    border-color: #71bd1d;
    color: white;
}
.alert.alert-info {
    background-color: #3498db;
    border-color: #2e88c5;
    color: white;
}
.alert.alert-danger {
    background-color: #ff6f6f;
    border-color: #e56363;
    color: white;
}

/**
 * Button Overrides
 */
.btn.links {
    color: #ac8d10;
}
.btn.btn-success {
    background-color: #7ed321;
    border-color: #71bd1d;
    color: white;
}
.btn.btn-success.links {
    color: #589317;
}
.btn.btn-success.btn-outline {
    background-color: transparent;
    border-color: #7ed321;
    color: #7ed321;
}
.btn.btn-success.btn-outline:hover {
    background-color: #7ed321;
    border-color: #71bd1d;
    color: white;
}
.btn.btn-info {
    background-color: #3498db;
    border-color: #2e88c5;
    color: white;
}
.btn.btn-info.links {
    color: #246a99;
}
.btn.btn-danger {
    background-color: #ff6f6f;
    border-color: #e56363;
    color: white;
}
.btn.btn-danger.links {
    color: #b24d4d;
}

/**
 * Background fills Overrides
 */
.component {
    background-color: #333333;
    border-color: #2d2d2d;
}
.sub-component {
    background-color: #333333;
    border-color: #2d2d2d;
}
.incident {
    background-color: #333333;
    border-color: #2d2d2d;
}
.status-icon {
    background-color: #333333;
    border-color: #2d2d2d;
}
.panel.panel-message:before {
    border-left-color: #333333 !important;
    border-right-color: #333333 !important;
}
.panel.panel-message:after {
    border-left-color: #333333 !important;
    border-right-color: #333333 !important;
}
.footer a {
    color: #ffffff;
}
/**
 * Dark theme overrides
 */
 body.status-page .list-group .list-group-item.group-name
  {
    background-color: #607D8B;
  }

  body.status-page .list-group.components
  {
    border-color: #455A64;
  }

  body.status-page .list-group .list-group-item
  {
    border-color: #11171A;
  }

  body.status-page .list-group .list-group-item
  {
    background-color: #37474F;
  }

  body.status-page .list-group.components a
  {
    color: #ECEFF1 !important;
  }

  body.status-page .timeline .moment .status-icon
  {
    background: #11171A;
    font-size: 16px;
    text-align: center;
    line-height: 31px;
    border-color: #607D8B;
    border-width: 2px;
  }

  body.status-page .timeline .moment .status-icon.status-1
  {
    background: #F44336;
  }

  body.status-page .timeline .moment .status-icon.status-2
  {
    background: #FFC107;
  }

  body.status-page .timeline .moment .status-icon.status-3
  {
    background: #03A9F4;
  }

  body.status-page .timeline .moment .status-icon.status-4
  {
    background: #1DE9B6;
  }

  body.status-page .timeline .moment::before
  {
    background: #607D8B;
  }

  body.status-page .timeline .moment .status-icon .icon
  {
    position: initial;
    color: #000 !important;
  }

  body.status-page .timeline .moment .panel-message.list-group.components, body.status-page .timeline .moment .panel.panel-message, .incident
  {
    background-color: #37474F;
    border-color: #455A64;
  }

  .btn.btn-default
  {
    background: transparent;
    color: #B0BEC5;
    border-color: #607D8B;
  }

  .btn.btn-default:hover
  {
    background: #546E7A;
    color: #FFF;
    border-color: #607D8B;
  }

  .btn.btn-danger
  {
    background: transparent;
    color: #F44336;
    border-color: #607D8B;
  }

  .btn.btn-danger:hover
  {
    background: #F44336;
    color: #FFF;
    border-color: #607D8B;
  }

  body.status-page .timeline .moment .status-icon.status-1 .icon:before
  {
    content: "" !important;
  }

  body.status-page .timeline .moment .status-icon.status-3 .icon:before
  {
    content: "" !important;
  }

  .alert.alert-success
  {
    color: #000;
  }

  .group-toggle
  {
    display: none;
  }

  body.status-page .timeline .moment:last-child::before
  {
    height: 48px;
  }

  body.status-page .timeline .moment:first-child::before
  {
    top: 48px;
  }

  body.status-page .timeline .moment:only-child::before
  {
    display: none;
  }

  .panel.panel-message::before
  {
    border-left-color: #455A64 !important;
    border-right-color: #455A64 !important;
    left: 0px !important;
  }

  .panel.panel-message::after
  {
    border-left-color: #37474F !important;
    border-right-color: #37474F !important;
  }

  a
  {
    color: #00ffcc;
  }
}
    </style>

    <script type="text/javascript">
      var Global = {};
      Global.locale = 'en';
    </script>
    <script src="/app.js"></script>
  </head>
  <body class="status-page ">

    <div class="container">
      <div class="section-messages"></div>

      <div class="section-status">
        <div class="alert alert-info" id="banner"></div>
      </div>

      <div class="about-app">
        <h2>Service Status</h2>

      </div>

      <div class="section-components">
        <%  @content.each do |serverName, services| %>
        <ul class="list-group components">
          <li class="list-group-item group-name">
            <i class="ion-ios-minus-outline group-toggle"></i>
            <strong><%= serverName %></strong>

            <div class="pull-right">
              <% services.each do |serviceName, serviceData| %>
              <% if serviceData['status'] == "Major Outage" && @color != "reds"
                   @color = "reds"
                   @statusText = "Major Outage"
                 end
                 if serviceData['status'] == "Major Outage" && @service_color != "alert-danger"
                   @service_color = "alert-danger"
                   @bannerText = "Some systems are experiencing a major outage"
                 end %>
                 <% end %>
              <i class="ion ion-ios-circle-filled text-component-1 <%= @color %>" data-toggle="tooltip" title="<%= @statusText %>"></i>
              <%
              @color = "greens"
              @statusText = "Operational"
              %>
            </div>
          </li>

          <div class="group-items ">
            <% services.each do |serviceName, serviceData| %>

            <li class="list-group-item sub-component">
              <%= serviceName %>
              <% if serviceData['status'] == "Operational" %><i class="ion ion-ios-help-outline help-icon" data-toggle="tooltip" data-title="Response time: <%= serviceData['responseTime'] %>ms" data-container="body"></i><% end %>

              <div class="pull-right">
                <small class="text-component-1 <% if serviceData['status'] == "Major Outage" %>reds<% else %>greens<% end %>" data-toggle="tooltip" title="Last updated <%= (Time.now - serviceData['lastCheck']).floor %>s ago"><%= serviceData['status'] %></small>
              </div>
            </li>
            <% end %>
          </div>
        </ul>
      <% end %>
      </div>

      <nav>
        <ul class="pager"></ul>
      </nav>

    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <p><%= @copyright %></p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      var color = "<%= @service_color %>"
      var text = "<%= @bannerText %>"
      $('#banner').html(text)
      $('#banner').removeClass("alert-info").addClass(color)
    </script>
  </body>
</html>
